<li>
    <p>
        <small>
            <% if (locals.user && locals.user.id == post.user.id){%>

            
            <a href="/comments/destroy/<%= comment.id %>"> X</a>

            <%}%>
        </small>
        <%= comment.content %>
        <br>
        <small>
            <%= comment.user.name %>
        </small>
    </p>
</li>