body{
    margin: 0;
    /* text-align: center; */

    #layout-main{
        height: 100%;
    }
    .success-message {
        background-color: green;
    }
    
    .error-message {
        background-color: red;
    }
    
}